*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-image: url(../images/background.png);
    background-attachment: fixed;
}




/*HEADER*/

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    background-color: rgb(12, 12, 12);
    border-bottom: 2px solid white;
    width: 100%;
}

#header #alogo{
    grid-column: 2;
}

#header #logo{
    display: block;
    width: 66px;
    padding-left: 10px;
    padding-left: 30%;
}

/*MENU DEROULANT*/

#header nav{
    width: 100%;
    margin: 0 auto;
    position : sticky;
    top: 0px;
    grid-column: 3/8;
    font-size: 1.5em;
}

#header nav ul{
    list-style-type: none;
}

#header nav ul li{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

#header nav ul::after{
    content: "";
    display: table;
    clear: both;
}

#header nav a{
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid transparent;
    padding: 20px 0px;
}

#header nav a:hover{
    color:rgb(255, 193, 6);
    border-bottom: 2px solid rgb(255, 6, 76);
    transition-duration: 200ms;
}

#header .sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: rgb(49, 49, 49);
    position: absolute;
    width: 100%;
    z-index: 1000;
    font-size: 20px;
}

#header nav > ul li:hover .sous{
    display: block;
}

#header .sous li{
    float: none;
    width: 100%;
    text-align: left;
}

#header .sous a{
    padding: 10px;
    border-bottom: none;
}

#header .sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}

.deroulant > a::after{
    content: "▼";
    font-size: 15px;
}

#connexion{
    color: white;
    text-decoration: none;
    grid-column: 8;
    padding: 25px 0px;
    text-align: center;
}

#connexion:hover{
    color: rgb(255, 6, 76);
    transition-duration: 200ms;
}




/*MAIN*/

#main
{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(0, 0, 0, 0.418);
    border-right: 3px solid white;
    border-left: 3px solid white;
    color: white;
}

#main > #title {
    width: 100%;
}

#main div #title h1 {
    width: 100%;
}



#main p{
    text-align: justify;
    line-height: 1.75em;
    margin-bottom: 50px;
}

#main #tournamentTeam {
    display:block;
    width:100%;
}

#main #tournamentTeam > .PoolDisplay {
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}

#main #tournamentTeam .PoolDisplay h1{
    font-size: 2em;
    padding-bottom: 20px;
    grid-column: 1 / 5;
    border-bottom: 3px solid rgb(255, 193, 6);
    color:white;
}

#main #tournamentTeam .PoolDisplay > .TeamDisplay
{
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    background-color: rgb(12, 12, 12);
}

#main #tournamentTeam .TeamDisplay h2{
    font-size: 16px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(255, 6, 76);
    width:100%;
    text-align: center;
    color:white;
    background-color: rgb(12, 12, 12);
}

#main #tournamentTeam .TeamDisplay h3{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(247, 131, 131);
    background-color: rgb(247, 131, 131);
    width:100%;
    text-align: center;
}

#main #tournamentTeam .ResultDisplay{
    font-size: 16px;
    margin-top: 10px;
    background-color: rgb(247, 131, 131);
    width:100%;
    text-align: center;
}





#main #p1{
    grid-column: 1/3;
}

#main #coupe{
    width: 100%;
    grid-column: 3;
    grid-row: 2/4;
}

#main .p2{
    grid-column: 1/4;
}

/*FOOTER*/

footer{
    background-color: rgb(12, 12, 12, 0.800);
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

footer img{
    width: 30px;
    margin-top: 10px;
    margin-left: 50%;
    grid-column: 2;
}

footer p{
    color: white;
    margin-top: 15px;
}

/*CONNEXION*/

#PdP {
    width: 200px;
    grid-row: 1/3;
    margin-left: 20%;
    margin-top: 10%;
    border: 3px solid white;
}

#pseudo, #iddiscord {
    margin-top: 20%;
}

#pseudo, #iddiscord, #nbpart, #date1er {
    font-size: 1.5em;
    text-align: center;
    vertical-align: middle;
}

#iddiscord, #nbpart, #date1er {
     font-style: oblique;
 }


 
 /*PODIUM*/

#podiumg {
     width: 70%;
     grid-column: 2;
     grid-row: 3;
     margin-left: 15%;
     margin-top: 20px;
 }

.souspodiumg {
    grid-column: 2;
    grid-row: 4;
    text-align: center;
}

.classement {
    text-align: center;
    font-size: 1.3em;
}

/*TABLEAU*/

.classement-allstars{
    font-size: 1.1em;
    text-align: center;
}

table{
    border: 2px solid black;
    text-align: center;
    grid-column: 1/4;
    font-size: 1.1em;
    line-height: 1.75em;
    margin-bottom: 50px;
}

.noir{
    border-bottom: 2px solid black;
    background-color: rgba(0, 0, 0, 0.26);
}

.gris{
    background-color: rgba(0, 0, 0, 0.432);
}

/*STATS*/

h3 {
    grid-column: 1/4;
    margin-bottom: 20px;
    font-size: 1.3em;
}

.stats {
    font-size: 1.1em;
    text-align: center;
    border-bottom: 1px solid black;
}

#listElement {
    width:100%;
    border:0;
    text-align: center;
    grid-column: 1/4;
    font-size: 1.1em;
    line-height: 1.75em;
    margin-bottom: 50px;
}

#listElement thead {
    background-color: rgb(255, 255, 255);
    color: rgb(12, 12, 12);
    font-size: 15px;
}

#listElement tbody {
    font-size: 15px;
}

.vs
{
    color: rgb(255, 193, 6);
}
